<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Blog</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
<table id="blogList" border="1">
</table>
</body>
</html>
<script type="text/javascript">
    function getBlog(blog) {
        return `<tr>
                <td>${blog.title}</td> +
                <td>${blog.category.name}</td> +
                <td><a class="viewBlog" href="${blog.id}">View</a> </td>
                <td><a class="editBlog" href="${blog.id}">Edit</a></td> +
                <td><a class="deleteBlog" href="${blog.id}">Delete</a> </td>
            </tr>`;
    }

    function showAllBlogs() {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "/blogs/getAll",
            success: function (list) {
                debugger
                let content = '<tr>' +
                    '<td>Title</td>' +
                    '<td>Category</td>' +
                    '<td></td>' +
                    '<td></td>' +
                    '<td></td>' +
                    '</tr>';
                for (let i = 0; i < list.length; i++) {
                    content += getBlog(list[i]);
                }
                $("#blogList").html(content);
            },
            error: function () {
                alert("loi roi");
            }
        });
    }
    showAllBlogs();
</script>